.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 250px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_optionLineOne {
  font-size: 10px;
  text-decoration: none;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
